In [10]:
import pandas as pd

data=pd.read_csv('C:/Users/minhquan/Desktop/Real-time-Sentiment-Analysis-for-Fast-Food-Brand/data_producer/Dataset/all_comments.csv')
# data['Entity'].value_counts()

filtered_df = data.groupby('Date').filter(lambda x: x['Entity'].nunique() == 4)

,Unnamed: 0,ID,ID_Comment,ID_User,Entity,Content,Comment_Like,Date
116756,27001,207571100452_10167581644140453,10167581644140453_3468505316718144,1463168987,DominosPizza,Damon Batten,0,2023-05-04
116757,27002,207571100452_10167581644140453,10167581644140453_765724078553232,1142902175,DominosPizza,ðŸ™„,0,2023-05-04
116758,27050,207571100452_10167581644140453,10167581644140453_2354706358037326,100001889760380,DominosPizza,Calvin Hampshire,0,2023-05-04
116759,27045,207571100452_10167581644140453,10167581644140453_1266042244286326,100001889760380,DominosPizza,Terry Galloway,0,2023-05-04
116760,27043,207571100452_10167581644140453,10167581644140453_188008227473227,551656401,DominosPizza,Andy ðŸ¤”ðŸ¤£,0,2023-05-04
...,...,...,...,...,...,...,...,...
360030,338135,224383614973_844604394371417,844604394371417_307437775757885,100000029580528,Subway,Subway and A&W fell off in Canada there no lov...,1,2024-05-30
360031,131098,7144906559_858637542957081,858637542957081_441041055298776,100077238450141,KFC,Nasty,0,2024-05-30
360032,338178,224383614973_844604394371417,844604394371417_993564019040075,1032425165,Subway,Amelia Carr,0,2024-05-30
360033,131047,7144906559_859321269555375,859321269555375_736225225127821,112133658147557,KFC,Successed\nManagement,0,2024-05-30
360034,1336,207571100452_785383373793766,785383373793766_1130660171502452,100072719947925,DominosPizza,Going to work,0,2024-05-30

In [5]:
data.head()

,Unnamed: 0,ID,ID_Comment,ID_User,Entity,Content,Comment_Like,Date
0,366448,224383614973_10160332964199974,10160332964199974_10160332975689974,100002506672727,Subway,https://www.facebook.com/groups/294041442565469/,0,2022-02-28
1,366445,224383614973_10160332964199974,10160332964199974_10160333175769974,100007755812540,Subway,"yeah, but you raised your prices... jimmy and ...",1,2022-02-28
2,366446,224383614973_10160332964199974,10160332964199974_10160333166884974,100001413127720,Subway,Run down and get your paper thin slices of mea...,0,2022-02-28
3,366283,224383614973_10160332964199974,10160332964199974_10160333107154974,100026272908520,Subway,Looks good,1,2022-02-28
4,366275,224383614973_10160332964199974,10160332964199974_10160333088214974,100001894472753,Subway,"My go to's are the steak & cheese, rotisserie ...",1,2022-02-28

In [7]:
import pandas as pd

shuffled_data = data.sample(frac=1).sort_values(by='Date')

,Unnamed: 0,ID,ID_Comment,ID_User,Entity,Content,Comment_Like,Date
5,366277,224383614973_10160332964199974,10160332964199974_10160333089439974,100000591718709,Subway,Iâ€™ve never seen that much ham in any subway sa...,5,2022-02-28
14,366447,224383614973_10160332964199974,10160332964199974_10160333002589974,100001517397969,Subway,Makayla Dinn â€¦â€¦,0,2022-02-28
7,366273,224383614973_10160332964199974,10160332964199974_10160332993759974,1495096556,Subway,Turkey ham is the best. I like it too much. Wi...,2,2022-02-28
0,366448,224383614973_10160332964199974,10160332964199974_10160332975689974,100002506672727,Subway,https://www.facebook.com/groups/294041442565469/,0,2022-02-28
10,366292,224383614973_10160332964199974,10160332964199974_10160333215834974,573114789,Subway,Yumm that look good there pretty.,1,2022-02-28
...,...,...,...,...,...,...,...,...
83,365604,224383614973_10160338610059974,10160338610059974_10160338655149974,100001232921397,Subway,Subway why did you guys lie ?? I got coupons a...,4,2022-03-03
109,366136,224383614973_10160336919419974,10160336919419974_10160338197734974,100004610800370,Subway,Pricila Carmona,0,2022-03-03
119,366250,224383614973_10160336919419974,10160336919419974_10160338136814974,836647835,Subway,Iâ€™m pretty sure my Subway doesnâ€™t have that me...,0,2022-03-03
103,365967,224383614973_10160338610059974,10160338610059974_10160338692999974,100000028646466,Subway,Does anyone know the number for this store?!!!...,0,2022-03-03
129,366247,224383614973_10160336919419974,10160336919419974_10160338588654974,100001202859155,Subway,How can i get a refund. Just ordered 15 mins a...,0,2022-03-03

In [12]:
McDonalds=data[data['Entity']=='McDonalds'].drop('Unnamed: 0',axis=1)
McDonalds.to_csv('McDonalds.csv',index=False)

In [13]:
DominosPizza=data[data['Entity']=='DominosPizza'].drop('Unnamed: 0',axis=1)
DominosPizza.to_csv('DominosPizza.csv',index=False)

In [14]:
KFC=data[data['Entity']=='KFC'].drop('Unnamed: 0',axis=1)
KFC.to_csv('KFC.csv',index=False)

In [15]:
Subway=data[data['Entity']=='Subway'].drop('Unnamed: 0',axis=1)
Subway.to_csv('Subway.csv',index=False)